@include keyframes(bgLogo) {
  from {
    @include transform(scale(1));
  }

  to {
    @include transform(scale(1.2));
  }
}

@include keyframes(logo-animation) {
  from {
    @include transform(translateY(20px));
    opacity: 0;
  }

  to {
    @include transform(translateY(0));
    opacity: 1;
  }
}
