//Hamburger Menu
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;

.hamburger {
  @include transition-duration(.15s);
  @include transition-property(opacity, filter);
  @include transition-timing-function(linear);
  background-color: transparent;
  border: 0;
  color: $blacks;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 15px;
  padding-bottom: 0;
  position: fixed;
  right: 50px;
  text-transform: none;
  top: 50px;
  z-index: 1111;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .7;
  }

  .hamburger-inner {
    @include transition-duration(.3s);
    @include transition-timing-function(cubic-bezier(.55, .055, .675, .19));

    &::before {
      @include transition(top .1s .34s ease-in, opacity .1s ease-in);
    }

    &::after {
      @include transition(bottom .1s .34s ease-in, transform .3s cubic-bezier(.55, .055, .675, .19));
    }
  }

  &.is-active {
    .hamburger-inner {
      @include transition-delay(.14s);
      @include transition-timing-function(cubic-bezier(.215, .61, .355, 1));
      @include transform(rotate(225deg));

      &::before {
        @include transition(top .1s ease-out, opacity .1s .14s ease-out);
        opacity: 0;
        top: 0;
      }

      &::after {
        @include transition(bottom .1s ease-out, transform .3s .14s cubic-bezier(.215, .61, .355, 1));
        @include transform(rotate(-90deg));
        bottom: 0;
      }
    }
  }
}

.hamburger-box {
  display: inline-block;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  position: relative;
  width: $hamburger-layer-width;
}

.hamburger-inner {
  display: block;
  margin-top: $hamburger-layer-height / -2;
  top: 50%;

  &,
  &::before,
  &::after {
    @include transition-duration(.15s);
    @include transition-property(transform);
    @include transition-timing-function(ease);
    background-color: $blacks;
    border-radius: 4px;
    height: $hamburger-layer-height;
    position: absolute;
    width: $hamburger-layer-width;
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
