@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'bourbon/bourbon';
@import 'variables';
@import 'animations';
@import 'hamburgermenu';
@import 'pages/header';
@import 'typebase';

// Body, Text , Logo etc.
html,
body {
  color: $text-color;
  font-family: $default-font;
}

body {
  margin-bottom: 300px;
}

a {
  color: $blacks;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;

    &::before {
      visibility: visible;
      width: 120%;
  }
  }

  &:focus {
    text-decoration: line-through;
  }

  &::before {
    @include transform(skewX(-20deg));
    @include transition(all .3s ease-in-out 0s);
    background-color: $main-color;
    bottom: 0;
    content: '';
    height: 100%;
    left: -5%;
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -1;
  }
}

.top-wrap {
  @include transition(background-color .6s ease);
  background-color: $whites;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .top-wrap-bg {
    @include animation(bgLogo 30s infinite alternate ease-in-out);
    background: $whites url('../images/rp-logo-bg-7.svg') no-repeat center center fixed;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

.logo {
  @include animation(logo-ani 1.2s);
  @include animation-fill-mode(both);
  font-family: $default-font;
  font-size: 3em;
  font-weight: 900;
  left: 50px;
  position: absolute;
  top: 50px;
  z-index: 2;

  img {
    height: 70px;
}
}
