<div class="top-wrap target">
    <a href="/" class="logo"><img src="{{ url("theme://images/rp-logo-3.svg") }}"></a>
    {% include 'partials/menu.html.twig' %}
    <div class="container-fluid header-block">
        <div class="row">
            <div class="offset-md-2 col-md-8 center">
                    {{ content }}
            </div>
        </div>
    </div>
    <div class="top-wrap-bg"></div>
    <a href="#portfolio-wrapper" class="mouse-scroll scroll">
        <span class="mouse">
            <span class="mouse-movement">
            </span>
        </span>
    </a>
</div>
