<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getLanguage ?: 'en' }}"> <!--<![endif]-->
<head>
  {% block head %}
  <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css') %}
        {% do assets.addCss('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css') %}
        {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/css/tether.min.css') %}
        {% do assets.addCss('theme://css-compiled/main.css') %}
  {% endblock %}
  {{ assets.css() }}
  {% endblock head%}
</head>
<body>
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

  {% block javascripts %}
      {% do assets.add('jquery',101) %}
      {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.4/js/tether.min.js') %}
      {% do assets.addJs('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js') %}
      {% do assets.addJs('https://cdn.rawgit.com/megazalrock/jquery-verticalcentering-plugin/master/build/jquery-verticalcentering-plugin.min.js') %}
      {% do assets.addInlineJs('$(function(){$(".center").each(function(){$(this).verticalCentering($(this).parents(".target"));});});') %}
      {% do assets.addInlineJs('var $hamburger = $(".hamburger");$hamburger.on("click", function(e) {$hamburger.toggleClass("is-active");});') %}
  {% endblock %}
  {{ assets.js() }}

</body>
</html>
