.header-block {
  .center {
    z-index: 2;
}

  .welcome {
    @include animation(logo-ani 1.2s);
    background: url('../images/title-seperator.svg') left bottom repeat-x;
    display: inline-block;
    letter-spacing: .7em;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  h1 {
    font-weight: 800;
    letter-spacing: -2px;
  }
}
